@media (max-width: 768px) {
  body {
    width: 100%;
  }
  p {
    background-color: chartreuse;
    border: solid black .1px;
    text-align: center;
    align-items: center;
    /* padding-top: 5%; */
    /* margin: auto; */
  }
  #a {
    background-color: blanchedalmond;
  }

  #b{
    background-color: blue;
  }

  #c{
    background-color: blueviolet;
  }
 
  #d{
    background-color: brown;
  }

  #e{
    background-color: burlywood;
  }

  #f{
    background-color: cadetblue;
  }

  #g{
    background-color: chartreuse;
  }

  #h{
    background-color: chocolate;
  }
}

@media (min-width: 768px){
 
  p {
    background-color: darkgoldenrod;
    border: solid black .1px;
    text-align: center;
    align-items: center;
    /* padding-top: 5%; */
    /* margin: auto; */
  }

  #a {
    background-color: blanchedalmond;
  }

  #b{
    background-color: coral;
  }

  #c{
    background-color: cornflowerblue;
  }
 
  #d{
    background-color: cornsilk;
  }

  #e{
    background-color: crimson;
  }

  #f{
    background-color: cyan;
  }

  #g{
    background-color: darkgray;
  }

  #h{
    background-color: darkgreen;
  }

}